body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #9F9;
}

.error {
  color: red;
}

.top-bar {
  color: #6C3;
  margin: auto;
  width: 50%;
  height: 50px;
}

label {
  display: block;
  font-size: 20px;
}

input[type=text] {
  width: 400px;
  font-size: 20px;
  padding: 2px;
}

textarea {
  width: 400px;
  height: 200px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

hr {
  margin: 10px auto;
}

.post + .post {
  margin-top: 20px;
}

.post {
  margin: 20px;
  padding: 0px;
}

.post-subject {
  float: left;
  font-weight: bold;
  font-size: 20px;

}

.post-date {
  float: right;
  font-size: 12px;
}

.post-content {
  margin: 0;
  font-size: 17px;
}
